.ml-50 {
    margin-left: 50px !important;
}

.custom-link-btn {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.btn-bg-white {
    background-color: #fff !important;
    color: $primary;
}